/* Kolory strony */
:root {
    --text: rgb(224, 224, 224);
    --backgroud: rgb(16, 16, 16);
    --border: rgb(64, 64, 64);
    
    --header-height: 64px; /* min 20, font+marker+border */
    --header-height-mob: 163px;

    background-color: var(--backgroud);
    color: var(--text);
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
body {
    margin: 0px;
    height: 100%
}

a {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}


/* Animacja przycisków */
.button {
    text-align: center;
}
.marker {
    background-color: var(--text);
    height: 2px;
    width: 0%;
    margin: auto;
    
    transition: 0.3s
}
.button:hover > .marker {
    width: 80%;
}
.button.selected .marker {
    width: 100%;
}



/* kąkuter */
@media only screen and (min-width: 768px) { 
    /* Header */
    header {
        border-bottom: solid 2px var(--border);
        padding: calc((var(--header-height) - 38px) / 2);
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    #home {
        font-size: 28px !important;
        margin-left: 0px !important;
    }
    header a {
        font-size: 22px;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    
    /* Main */
    main {
        display: flex;
        align-items: start;
        height: calc(100% - var(--header-height));
    }
    
    
    /* Nav */
    nav {
        padding-left: 8px;
        padding-right: 8px;
        border-right: solid 2px var(--border);
        width: 134px;
        height: 100%;
        
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }
    nav a {
        margin-left: auto;
        margin-right: auto;
    }
    
    /* iframe */
    iframe {
        height: 100%;
        width: calc(100% - 152px);
        border: none;
    }
}



/* mobile */
@media only screen and (max-width: 767px) {
        /* Header */
    header {
        border-bottom: solid 2px var(--border);
        padding: calc((var(--header-height) - 38px) / 2);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #home {
        font-size: 28px !important;
        margin-left: 0px !important;
    }
    header a {
        font-size: 22px;
        margin-right: auto;
        margin-left: auto;
    }
    
    
    /* Main */
    main, iframe {
        border: none;
        height: 100%;
        width: 100%;
    }
    main {
        display: flex;
        align-items: start;
        height: calc(100% - var(--header-height-mob));
    }
    
    
    /* Nav */
    nav {
        padding-left: 8px;
        padding-right: 8px;
        border-right: solid 2px var(--border);
        height: calc(100% - var(--header-height-mob));
        background-color: var(--backgroud);   
    
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
     
     
        position: absolute;
        left: -134px;
        transition: left 0.5s;
        z-index: 3;
    }
    nav:hover {
        left: 0
    }
    nav:hover + iframe {
        opacity: 0.3;
    }
    nav a {
        margin-left: auto;
        margin-right: auto;
    }
    
    iframe {
        height: 100%;
        margin-left: 28px;
        width: calc(100% - 28px);
        border: none;
        transition: opacity 0.5s;
    }
    
    
    
    header::before {
    content: "website under construction";
    color: rgb(162, 0, 0);
    }
} 