.br {
    background-image: var(--grass_block_side);
    background-size: contain;
}

#br1 {
    transform: 
        rotateX(-10deg)
        rotateY(45deg)
        translate3d(175px, 125px, 200px);
}
#br6 {
    transform: 
        rotateX(-10deg)
        rotateY(45deg)
        translate3d(125px, 125px, -50px);
}
#br7 {
    transform: 
        rotateX(-10deg)
        rotateY(45deg)
        translate3d(75px, 125px, -100px);
}
#br8 {
    transform: 
        rotateX(-10deg)
        rotateY(45deg)
        translate3d(25px, 125px, -150px);
}

#br0 {
    transform: 
        rotateX(-10deg)
        rotateY(45deg)
        translate3d(0px, 175px, 200px);
}